:root {
    --text: black;
    --background: white;
    --cardBackgrounds: gray;
}

.dark-mode {
    --text: white;
    --background: black;
    --cardBackgrounds: lightgray;
}

body {
    background-color: var(--background);
    color: var(--text);
}